*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
 
}

body{
    color:white;
    margin:0;
    overflow: hidden;
    background-color: black;
}

.main{
    display:flex;
    height:100vh;
   
   
}

.sidebar{
    background-color: black;
    width:340px;
    /* border-radius: 10px; */
    margin:10px;
    margin-top: 7px;
    margin-left:7px;
    
}

.main-content{
    background-color: #1c1c1c;
    flex:1;
    border-radius:10px;
    margin-right:7px;
    margin-left:-22px;
    margin-top: 7px;
    text-align: center;
    overflow:auto;
    height:652px;
    padding:0 1.5rem 0 1.5rem;
}


.music-player{
    background-color: black;
    position:fixed;
    bottom:-10px;
    left:-10px;
    width:100%;
    height:72px;
    display:inline-block;
    margin:10px;
    text-align: center;
    
}

.sidebar .nav{
    position:absolute;
    left:7px;
    width:20rem;
    font-size: 20px;
    background-color: #121212;
    border-radius:0.5rem;
    height:120px;
    display:flex;
    flex-direction: column;
    /* justify-content:center; */
    padding:0.5rem 0.75rem;
    padding-top: 0px;

}

.sidebar .library{
    position:absolute;
    top:135px;
    width:20rem;
    height:525px;
    background-color: #121212;
    border-radius:0.5rem;
    
 
    
}

.nav a{
    margin-left:25px;
    text-decoration:none;
    color:whitesmoke;
    font-weight:600;
    font-size: 1rem;
}

.nav i{
    font-size: 1.3rem;
}

.nav .nav1{
    line-height: 2.9rem;
    margin-left:16px;
    margin-top:5px;
}

.nav .nav1{
    opacity:0.7;
}

.nav .nav1:hover{
    opacity:1;
}

.lib-option img{
    height:21px;
    width:21px;
}

.lib-option{
    position:absolute;
    left:30px;
    top:20px;
    opacity:0.7;
}

.lib-option:hover{
    opacity:1;
}

.lib-option a{
    text-decoration: none;
    margin-left:12px;
    color:white;
}

.icons{
    position:absolute;
    top:15px;
    left:230px;

}

#plus{
    opacity:0.7;
}
#plus:hover{
    opacity:1;
}

#arrow{
    opacity:0.7;
}
#arrow:hover{
    opacity:1;
}

.icons i{
    margin:10px;
    font-size:18px;
}

.lib-boxes .box{
    background-color: #1c1c1c;
    border-radius:0.5rem;
    position:absolute;
    top:75px;
    left:10px;
    height:150px;
    width:300px;
}

.box-p1{
    padding:20px;
    padding-bottom: 15px;
    font-weight: 700;
}

.box-p2{
    padding:20px;
    padding-top:0px;
    font-size: 0.9rem;
}

.badge{
    border-radius:1.2rem;
    background-color: white;
    color:black;
    position:absolute;
    left:1.2rem;
    padding:0.8rem;
    width:130px;
    font-size: 0.9rem;
    font-weight: 650;
    border:none;

}

.badge:hover{
    background-color:#1bd760;
}

.lib-boxes .box2{
    background-color: #1c1c1c;
    width:300px;
    height:180px;
    position:absolute;
    top:250px;
    left:10px;
    border-radius:0.5rem;
}

.box2 .bx{
    margin:8px;
    margin-left:20px;
    margin-top: 10px;
}

#b2{
    margin-top: 4px;
    margin-bottom: 7px;
    font-weight: 700;
}

#b1{
    margin-bottom: 4px;
    font-weight: 700;
}

#b3{
    margin-top: 8px;
    margin-bottom:3px;
    font-weight: 430;
    font-size: 0.9rem;
}

#b4{
    margin-top:3px;
    font-weight: 430;
    font-size: 0.9rem;
}

.bdg{
    border-radius:1.2rem;
    background-color: white;
    color:black;
    position:absolute;
    left:1.2rem;
    top:8.2rem;
    padding:0.6rem;
    padding-top: 0.3rem;
    padding-bottom:0.3rem;
    font-weight: 650;
    font-size: 0.95rem;
    width:154px;
    border:none;
}

.bdg:hover{
    background-color: #1bd760;
}

.install{
    display:inline-block;
}

.sticky-nav{
    position:sticky;
    top:0;
    background-color: #1c1c1c;
    z-index:100;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0 1rem 0;
}

.sticky-nav .f-b{
    margin-left: 1rem;
}

.sticky-nav .f-b #bw{
    margin-right:1rem;
}

.sticky-nav .f-b img{
    opacity:0.7;
    width:1.5rem;
    height:1.5rem;
}

.sticky-nav .f-b #bw:hover{
    opacity:1;
}

.sticky-nav .f-b #fw:hover{
    opacity:1;
}

.sticky-nav .btns{
    display:flex;
    justify-content:center;
    align-items: center;
    width:360px;
}

.sticky-nav .btns .ic{
    margin-right:1rem;
    margin-left:1rem;
    border-radius: 1.2rem;
    border:none;
    padding:0.3rem;
    background-color: white;
    color:black;
    font-weight:650;
    font-size: 0.95rem;
    
}

#install{
    background-color: black;
    color:white;
    padding:0.6rem;
    margin-left:3px;
}

#install:hover{
    background-color: rgba(133, 129, 129, 0.297);
}

#ep:hover{
    background-color:#1bd760;
}

@media(max-width:1000px){
    .hide{
        display:none;
    }
}

.card{
    background-color: #232323;
    width:180px;
    border-radius:0.5rem;
    padding:1.1rem;
    margin:1rem;
    
}

.card .card-title{
    font-weight:650;
}

.card .card-info{
    font-size:0.83rem;
    opacity:0.8;
}

.card p{
    color:white;
}

.cards-container{
    display:flex;
    flex-wrap:wrap;
}

.card-img{
    width:100%;
    border-radius:0.5rem;
}

h3{
    text-align: left;
    font-weight:bold;
}

.footer{
    height:300px;
    display:flex;
    justify-content: center;
    align-items:center;
}

.line{
    width:95%;
    height:50%;
    border-top:1px solid white;
    opacity:0.4;
}

.music-player{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.albm{
    width:25%;
  
}

.player{
    width:50%;
}

.controls{
    width:25%;
}

.player-control-icons{
    height:1rem;
    margin:0 1rem 0 1rem;
    opacity:0.7;
}

.player-control-icons:hover{
    opacity:1;
}

.player-control{
    display:flex;
    justify-content:center;
    align-items:center;
}

.playback-bar{
    display:flex;
    justify-content:center;
    align-items:center;
}

.level{
    width:70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.level::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius:100px;
    height:0.2rem;
}

.level::-webkit-slider-thumb{
    appearance:none;
    height: 0.8rem;
    width:0.8rem;
    background-color:#1bd760;
    border-radius:50%;
    margin-top:-6px;
}

.line{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.foot{
    font-size: 0.8rem;
    opacity:0.7;
    
}

.foot:hover{
    opacity:1;
    cursor: pointer;
}